{# src/Sukaldaris/AdminBundle/Resources/views/Admin/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap core CSS -->
    

{% endblock %}

{% block body %}

   

    <!-- banner-bottom -->
      <div class="banner-bottom">

      <h3 class ="ghj">Añadir...</h3>

      <h3><a href="{{ path('sukaldaris_admin_new_receta')}}"><span class="label label-success">Nueva receta</span></a>
      <a href="{{ path('sukaldaris_admin_new_ingrediente')}}"><span class="label label-success">Nuevo ingrediente</span></a>
      <a href="{{ path('sukaldaris_admin_new_categoria')}}"><span class="label label-success">Nueva categoría</span></a>
      </h3>
      <br>
      
       <h3 class ="ghj">Editar...</h3>
       <h3><a href="{{ path('sukaldaris_admin_list_receta_edit', { 'page': 1 })}}"><span class="label label-info">Editar receta</span></a>
      <a href="{{ path('sukaldaris_admin_list_ingrediente_edit', { 'page': 1 })}}"><span class="label label-info">Editar ingrediente</span></a>
      <a href="{{ path('sukaldaris_admin_list_categoria_edit', { 'page': 1 })}}"><span class="label label-info">Editar categoría</span></a>
      </h3>

      <br>

      <h3 class ="ghj">Borrar...</h3>
       <h3><a href="{{ path('sukaldaris_admin_list_receta_delete', { 'page': 1 })}}"><span class="label label-danger">Borrar receta</span></a>
      <a href="{{ path('sukaldaris_admin_list_ingrediente_delete', { 'page': 1 })}}"><span class="label label-danger">Borrar ingrediente</span></a>
      <a href="{{ path('sukaldaris_admin_list_categoria_delete', { 'page': 1 })}}"><span class="label label-danger">Borrar categoría</span></a>
      </h3>
        
      </div>
<!-- //banner-bottom -->

   
{% endblock %}
{% block javascripts %}

    

  {% endblock %}
