{# src/Sukaldaris/AdminBundle/Resources/views/Admin/ingrediente.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}{{ingrediente.nombre}}{% endblock %}

{% block body %}

	<div class="about">

		<div class="about-text">
		    <h3>{{ingrediente.nombre}} </h3>
		</div>
		<div class="about-info">

			<div class="col-md-7 about-info-left">

			    <p>Nombre: {{ingrediente.nombre}}</p>
			    <p>Precio por {{ingrediente.medida.subconcept}}: {{ingrediente.precio}} €</p>
			    <p>Se mide en: {{ingrediente.medida.subconcept}}</p>

			</div>

			<div style"clear:both">

			

			<div class="clearfix"></div>
		    
		</div>
		

    </div>
	

{% endblock %}