{# src/Sukaldaris/AdminBundle/Resources/views/Admin/listIngredientesEdit.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap core CSS -->
    

{% endblock %}

{% block body %}

   {% set id = 0 %}

    <!-- banner-bottom -->
      <div class="banner-bottom">
      <div class="about-info">

        <h3 class ="ghj">Recetas</h3>

        

            <ul>

            {% if ruta starts with 'sukaldaris_admin_goto'%}
          
              {% for receta in recetas %}

              <li><a href="{{ path( ruta, { 'id':receta.Id })}}">{{receta.Titulo}}</a> ({{receta.fechaPublicacion|date('d-m-Y')}})</li> 

              {% endfor %}
            {% else %}
              {% for receta in recetas %}

              

              <li><a onClick='myFunction({{receta.Id}})'>{{receta.Titulo}}</a> ({{receta.fechaPublicacion|date('d-m-Y')}})</li> 

              {% endfor %}


            {% endif %}

            </ul>

            {% if paginas == 1 %}

            {% else %}
            <nav>
                  <ul class="pagination">

                  {% if current == 1 %}
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  {%elseif ruta starts with 'sukaldaris_admin_goto'%}
                    <li><a href="{{ path('sukaldaris_admin_list_receta_edit', { 'page': current-1 })}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  {%else%}
                    <li><a href="{{ path('sukaldaris_admin_list_receta_delete', { 'page': current-1 })}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  {%endif%}

                  {% set pg = 1 %}

                  {% for pagina in paginas %}

                    {% if current == pg %}
                        {%if ruta starts with 'sukaldaris_admin_goto'%}
                            <li class="active"><a href="{{ path('sukaldaris_admin_list_receta_edit', { 'page': pg })}}">{{pg}} <span class="sr-only">(current)</span></a></li>
                        {%else%}
                            <li class="active"><a href="{{ path('sukaldaris_admin_list_receta_delete', { 'page': pg })}}">{{pg}} <span class="sr-only">(current)</span></a></li>
                        {%endif%}

                    {%else%}

                      {%if ruta starts with 'sukaldaris_admin_goto'%}
                            <li ><a href="{{ path('sukaldaris_admin_list_receta_edit', { 'page': pg })}}">{{pg}} </a></li>
                        {%else%}
                            <li ><a href="{{ path('sukaldaris_admin_list_receta_delete', { 'page': pg })}}">{{pg}} </a></li>
                        {%endif%}

                    {%endif%}

                    {% set pg = pg + 1 %}
                  
                  
                  {% endfor %}

                  {% if current == pg %}
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">«</span></a></li>
                  {%elseif ruta starts with 'sukaldaris_admin_goto'%}
                    <li><a href="{{ path('sukaldaris_admin_list_receta_edit', { 'page': current+11 })}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  {%else%}
                    <li><a href="{{ path('sukaldaris_admin_list_receta_delete', { 'page': current+1 })}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  {%endif%}

                  
                 </ul>
            </nav>
            {% endif %}
        </div>
      </div>
<!-- //banner-bottom -->
<script>
function myFunction(id) 
{
      
      if (confirm("¿De verdad desea eliminar este elemento?") == true) 
      {
        
      var route = "{{ path(ruta, { 'id': 'recipeId' }) }}";
      window.location = route.replace("recipeId", id);
         
      } else {
          
      }
      document.getElementById("demo").innerHTML = x;
}
</script>
   
{% endblock %}
{% block javascripts %}

    

  {% endblock %}