{# src/Sukaldaris/AdminBundle/Resources/views/Admin/listIngredientesEdit.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap core CSS -->
    

{% endblock %}

{% block body %}

   

    <!-- banner-bottom -->
      <div class="banner-bottom">
      <div class="about-info">

        <h3 class ="ghj">Recetas</h3>

            <ul>

            {% if ruta starts with 'sukaldaris_admin_goto'%}
          
              {% for receta in recetas %}

              <li><a href="{{ path( ruta, { 'id':receta.Id })}}">{{receta.Titulo}}</a> ({{receta.fechaPublicacion|date('d-m-Y')}})</li> 

              {% endfor %}
            {% else %}
              {% for receta in recetas %}

              <li><a onClick='myFunction(3)'>{{receta.Titulo}}</a> ({{receta.fechaPublicacion|date('d-m-Y')}})</li> 

              {% endfor %}


            {% endif %}

            </ul>
            <nav>
                  <ul class="pagination">

                  {% if current == 1 %}
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  {%else%}
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  {%endif%}

                  {% set pg = 1 %}

                  {% for pagina in paginas %}

                    {% if current == pg %}
                    
                    <li class="active"><a href="#">{{pg}} <span class="sr-only">(current)</span></a></li>

                    {%else%}

                    <li ><a href="#">{{pg}} </a></li>

                    {%endif%}

                    {% set pg = pg + 1 %}
                  
                  
                  {% endfor %}

                  <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                 </ul>
            </nav>
        </div>
      </div>
<!-- //banner-bottom -->
<script>
function myFunction(id) {
    
    if (confirm("¿De verdad desea eliminar este elemento?") == true) {
        window.location.href = "{{ path( ruta, { 'id': 3 })}}";
    } else {
        
    }
    document.getElementById("demo").innerHTML = x;
}
</script>
   
{% endblock %}
{% block javascripts %}

    

  {% endblock %}